/* #redDiv {
  height: 100px;
  width: 100px;
  background-color: red;
  margin: auto;
}

#divCounter {
  height: 300px;
  width: 300px;
  margin: auto;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #474bff #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
} */

.navigation {
  padding: 20px, 30px;
  background-color: gray;
  
  height: 40px;
}

.navigation a{
  padding: 10px;
  margin: 0 20px;
}

.post-title {
  color: pink;
  font-weight: 700;
}

.app{
  text-align: center;
}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.item h3{
  margin: 20px;
}

.form{
  padding: 15px;
  border: 1px solid black;
  margin: 20px 10px;
}